{{#if userType}}
  {{>adminNavbar}}
{{else}}
  {{>navbar}}
{{/if}}

<div class="container d-flex justify-content-center mt-3">
  <h1>Editar Producto</h1>
  <h2 class="d-none" >{{product.id}}</h2>
</div>

<div class="container my-3 mx-0">
  <div class="row row-cols-3">
    <div class="col-md-3">

    </div>
    <div class="col-12 col-md-6">
      <form onsubmit="editProductPut(event)">
        <div class="mb-3">
          <label for="" class="form-label">Nombre</label>
          <input type="text" class="form-control"     id="name" required value="{{product.name}}" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="description" required value="{{product.description}}"/>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Dueño</label>
          <select class="form-select " name="owner" id="owner" aria-label="Default select example" required>
            {{#each owners}}
              <option id="{{id}}" value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Precio</label>
          <input type="number" class="form-control" id="price" required value="{{product.price}}"/>
        </div>
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-secondary"
          >Aceptar</button>
        </div>
      </form>
    </div>

    <div class="col-md-3">
      
    </div>

  </div>

</div>

    <script src="/js/editProduct.js"></script>
    <script src="/js/products.js"></script>


