{{#if userType}}
  {{>adminNavbar}}
{{else}}
  {{>navbar}}
{{/if}}

<h1 class="d-flex justify-content-center">Editar Mesa {{localTable}}</h1>
<h2 class="d-none">{{localTable}}</h2>
<h3 class="d-none">{{saleId}}</h3>

<div class="table-responsive container">
  <table class="table table-dark table-hover table-striped align-middle">
    <thead>
      <tr>
        <td scope="col">Producto</td>
        <td scope="col">Cantidad</td>
        <td scope="col">Precio</td>
        <td scope="col">Total</td>
        <td scope="col">Acción</td>
      </tr>
    </thead>
    <tbody>
      {{#each tableProducts}}
          <tr id="{{this.id}}">
            <td>{{this.product_name}}</td>
            <td class="quantity">{{this.quantity}}</td>
            <td class="price">{{this.sale_price}}</td>
            <td class="total">{{this.total}}</td>
            <td>
              <a onclick="addProductTableClick(event, {{this.id}},{{../saleId}})" type="button" class="btn btn-success">
                +
              </a>
              <a onclick="subProductTableClick(event,{{this.id}}, {{../saleId}})" type="button" class="btn btn-danger">
                -
              </a>
            </td>
          </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td id="total">{{total}}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="container d-flex justify-content-center">
  <a href="/tables/{{localTable}}/product/new/{{saleId}}" class="btn btn-secondary ">Agragar Producto</a>
</div>

<div class="d-flex justify-content-center my-3">
  <h2>Pagar</h2>
</div>

<div class="container-fluid my-3 mx-0">
  <div class="row row-cols-3">
    <div class="col-md-3">

    </div>
    <div class="col-12 col-md-6">
      <form onsubmit="payTable(event,{{saleId}})">
        <div>
          <select id="payment-type" class="form-select" aria-label="Default select example">
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Transferencia">Transferencia</option>
          </select>
        </div>
        <div class="d-flex justify-content-center my-3">
          <button
            class="btn btn-secondary"
          >Aceptar</button>
        </div>
      </form>
    </div>

    <div class="col-md-3">
      
    </div>

  </div>

</div>

    <script src="/js/payTable.js"></script>
