{{#if userType}}
  {{>adminNavbar}}
{{else}}
  {{>navbar}}
{{/if}}

<h1 class="d-flex justify-content-center">Ventas del día</h1>

<div class="table-responsive container">
  <table class="table table-dark table-hover table-striped align-middle">
    <thead>
      <tr>
        <td >Dueño</td>
        <td >Producto</td>
        <td> Cantidad</td>
        <td >Total</td>
      </tr>
    </thead>
    <tbody>
      {{#each sales}}
      <tr>
        <td>{{this.owner}}</td>
        <td>{{this.product}}</td>
        <td>{{this.quantity}}</td>
        <td class="total">{{this.total}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <td>Total</td>
      <td></td>
      <td></td>
      <td id="total-sales">{{totalSales}}</td>
    </tfoot>
  </table>
</div>

<div class="table-responsive container">
  <table class="table table-dark table-hover table-striped align-middle">
    <thead>
      <tr>
        <td >Tipo de pago</td>
        <td >Total</td>
      </tr>
    </thead>
    <tbody>
      {{#each paymentTypes}}
      <tr>
        <td>{{this.payment_type}}</td>
        <td class="total">{{this.total}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <td>Total</td>
      <td id="total-payment-type">{{totalPaymentType}}</td>
    </tfoot>
  </table>
</div>

<script src="/js/sales.js"></script>