{{#if userType}}
  {{>adminNavbar}}
{{else}}
  {{>navbar}}
{{/if}}

<h1 class="d-flex justify-content-center">Usuarios</h1>

<div class="table-responsive container">
  <table class="table table-dark table-hover table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">email</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th>{{this.email}}</th>
        <td>
          <a href="/users/edit/{{this.id}}" type="button" class="btn btn-primary">
            Editar
          </a>
          <a onclick="deleteUserClick(event,{{this.id}})" type="button" class="btn btn-danger">
            Eliminar
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="container d-flex justify-content-center">
  <a href="/users/new" class="btn btn-secondary ">Nuevo Usuario</a>
</div>

<div>
  {{id}}
</div>
